<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="../form.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
  </head>

  <body>
    <header></header>
    <main>
      <section>
        <form action="\" class="symptom">
          <div>
            <input
              type="text"
              name="question"
              id="symptom-input"
              autocomplete="off"
              placeholder="증상을 입력하세요"
            />
            <button class="upload">
              <i
                class="fa fa-arrow-up"
                aria-hidden="true"
                style="color: #2f2f2f"
              ></i>
            </button>
          </div>
        </form>
      </section>
    </main>
  </body>
  <!-- <script src="../index.js"></script> -->
</html>
