<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">font임 -->
        <link rel="shortcut icon" href="../fi.ico" type="image/x-icon" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <link rel="stylesheet" href="../css/reset.css" />
        <link rel="stylesheet" href="../css/main.css" />
        <link rel="stylesheet" href="../css/form.css" />
        <link rel="stylesheet" href="../css/text.css" />
    </head>

    <body>
        <header>{% include "header.html" %}</header>
        <main>
            {% block content %}
            <!-- prettier-ignore -->
            {% endblock %}
            <!-- prettier-ignore -->
            {% include "input.html" %}
        </main>
    </body>
    <script src="../js/main.js"></script>
</html>
